:root {
  --border: 3px;
}

.insertion {
  display: flex;
  width: 100%;
  font-size: 16px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.description {
  border-left: var(--border) solid;
  border-right: var(--border) solid;
  padding: 4px 24px;
  flex: 1;
}

.border-bottom {
  border-bottom: var(--border) solid;
}
.border-top {
  border-top: var(--border) solid;
}

.date, .transaction-title {
  text-align: center;
  padding: 4px 0;
}

.transaction-content {
  flex: 1;
}

.debit, .credit {
  width: 70px;
  padding: 0 16px;
  border-left: var(--border) solid;
}

.amount-debit, .amount-credit {
  padding: 0 16px;
  width: 128px;
  border-right: var(--border) solid;
}

html, body, #root {
  height: 100%;
}

#root {
  overflow-y: auto;
  padding: 32px;
  box-sizing: border-box;
}